
body {
  background-color: black;
}  
nav {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-self: flex-end;
  margin-left: auto;
}
.page{
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color:#f7e3dc;
  text-decoration: none;
  margin-top: 10px;
}
.App {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.info {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 50px
}
.about{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 50%;
}
.head {
  color:#f7e3dc;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px ;
}
.text {
  color: #f7e3dc;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-size: 20px ;
  padding: 10px;
  word-spacing: 3px;
}
h2,h3{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color: #babaa8;
}
h3{
  font-size: 15px;
  color:#f7e3dc;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 50px;  
}
.container{
  display: flex;
}
p {
  color: #FAF0E6;
}
.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-container{
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  width: 70%;  
}
button {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  padding: 13px;
  width: 150px;
  color: #f7e3dc;
  background-color: #282a25;
  border-radius: 15px;
  /* border: none; */
}
button:hover {
  cursor: pointer;
}
img {
  border-radius: 10px;
}
.title{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  color: #babaa8;
}
.card-project{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 20px;
  background-color: #282a25;
  padding: 20px;
  width: 80%;
  border-radius: 10px;  
}
.title-project{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-family: "Playfair Display", serif;
  color: #f7e3dc;
}
.contactPic{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top:30px;
  align-items: center;
}
.headContact{
  font-size: 25px; 
  word-spacing: 5px;
}
